{% extends "base.html" %}

{% block title %}Editar Animal{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-center">Editando Animal: {{ animal.codigo_unico }}</h3>
            </div>
            <div class="card-body">
                <form action="{{ url_for('edit_animal', animal_id=animal.id) }}" method="post">
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo de Animal:</label>
                        <select id="tipo" name="tipo" class="form-select" required>
                            <option value="Vaca" {% if animal.tipo == 'Vaca' %}selected{% endif %}>Vaca</option>
                            <option value="Cerdo" {% if animal.tipo == 'Cerdo' %}selected{% endif %}>Cerdo</option>
                            <option value="Chivo" {% if animal.tipo == 'Chivo' %}selected{% endif %}>Chivo</option>
                            <option value="Cordero" {% if animal.tipo == 'Cordero' %}selected{% endif %}>Cordero</option>
                            <option value="Pollo" {% if animal.tipo == 'Pollo' %}selected{% endif %}>Pollo</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre (opcional):</label>
                        <input type="text" id="nombre" name="nombre" value="{{ animal.nombre if animal.nombre else '' }}" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <select id="estado" name="estado" class="form-select" required>
                            <option value="En rebaño" {% if animal.estado == 'En rebaño' %}selected{% endif %}>En rebaño</option>
                            <option value="En cuarentena" {% if animal.estado == 'En cuarentena' %}selected{% endif %}>En cuarentena</option>
                            <option value="Vendido" {% if animal.estado == 'Vendido' %}selected{% endif %}>Vendido</option>
                        </select>
                    </div>
                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary btn-lg">Actualizar Animal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}